body{
  background-image:url(../img/background/background.png);
  background-position: top;
  background-repeat: repeat-y;
  background-color: #735643;
  /*font-family: "Showcard Gothic", "Showcard gothic cyrillic";*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* 360px */
  font-size: 18px;
  max-width:360px;
}

@font-face {
  font-family: "Showcard Gothic";
  src: url("../fonts/Showcard_Gothic_Regular.ttf");
}

@font-face {
  font-family: "Showcard gothic cyrillic";
  src: url("../fonts/Showcard_Gothic_Cyr.otf");
}

.container-fluid{
  display:none;
}

.always-hidden{
  display:none;
}

/* ===== Common classes ===== */
.no-margin-bottom{
  margin-bottom:0px;
}

.background-colored{
  background-color: #FFFBE9;
}

.rounded-borders{
  border-radius: 4px;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.cursor-default{
  cursor:default;
}


.margin-top{
  margin-top: 12px;
}

.margin-left{
  margin-left: 0px;
}

/* background */
.background-container{
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

.background-img{
  /* center */
  position: absolute;
  transform: translate(-50%, -50%);

  /* 360px */
  top: 42%;
  left: 54%;
  width: 500px;
  height: 744px;

  z-index: -2;
}

.background{
  /* 360px */
  min-width: 360px;
  width: 360px;
  max-width: 360px;
  min-height: 570px;
  height: 570px;

  /* center */
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-left{
  margin-left: 10px;
}

.background-right{
  margin-right: 10px;
}

.table-content-centered td {
  text-align: center;
}


/* ===== Lobby window ===== */
.lobby-window{
  max-width:910px;
}

.lobby-caption{
  position: absolute;

  text-align: center;
  font-family: Times;
  font-size: 28px;
  color: #79421B;

  top: -45px;
  left: 100px;
  width: 153px;
}

.main-user-info-container-img{
  position: absolute;
  z-index: -1;

  /* 360px */
  left: -22px;
  top: 17px;
  width: 207px;
}

.main-user-info{
  /* 360px */
  font-size: 14px;
  margin-top: 10px;
  padding: 4px;
  margin-left: 1px;
}

.user-resume-rating-img{
  position: absolute;

  top: 18px;
  left: 14px;
  width: 108px;
  height: 36px;
}

.user-resume-rating-caption{
  position: absolute;
  color: #FFFFFF;

  top: 26px;
  left: 25px;
}

.padding-4{
  padding:4px;
}

/* User Info */
.user-info{
  max-width:350px;
  display:flex;
}

.user-info-data{
  position: absolute;
  cursor: default;
  color: #000000;
  font-size: 16px;
  transform: rotate(-4deg);

  top: 129px;
  left: 24px;
}

.user-info-name{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  /* 360px */
  width: 118px;
}

.info-margin-left{
  margin-left: 6px;
}

.info-margin-right{
  margin-right:4px;
}

/* Lobby tabs */
.panes{
  max-width:440px;
}

.tab-content-lobby{
  max-height:342px;
  min-height:342px;
  overflow:auto;
  border-radius: 0px 0px 4px 4px;
}

.pane-padding{
  padding: 15px 10px 1px 10px;
  border-radius: 0px 0px 4px 4px;
}

.lobby-data-margin-bottom{
  /* 360px */
  margin-bottom: 16px;
}


/* Game-Requests */
.btn-play{
  position: absolute;

  left: 168px;
}

.play-mission-btn{
  top: 30px;
}

.play-quests-btn{
  top: 88px;
}

.play-1-quest-btn{
  top: 146px;
}

.play-2-quest-btn{
  top: 204px;
}

.play-3-quest-btn{
  top: 262px;
}

.play-4-quest-btn{
  top: 320px;
}

.btn-play-img{
  position: absolute;
  cursor: pointer;

  width: 177px;
  height: 50px;
}

.play-btn-caption{
  position: absolute;
  cursor: pointer;
  text-align: center;
  line-height: normal;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;

  width: 163px;

  left: 8px;
}

.play-quests-btn-caption-min{
  top: 27px;
  left: 24px;
  width: 136px;
}

.play-btn-caption-2-lines-first{
  top: 9px;
}

.play-btn-caption-1-line{
  top: 17px;
}

.play-btn-caption-min{
  font-size: 12px;
}

.play-loader{
  display:none;
  position: absolute;
  cursor: pointer;

  top: 28px;
  left: 80px;
  height:18px;
}

.play-quests-container{
  display: none;
}


/* Rating-Table */
.top-players-rating{
  position: absolute;
  font-size: 19px;
  font-weight: bold;
  color: #513322;
}

.top-players-caption-img{
  position: absolute;
  left: 18px;
  width: 178px;
  height: 36px;
}

.top-players-rating-caption-text{
  position: absolute;

  left: 71px;
  top: 4px;
}

.top-players-container-1{
  position: absolute;
  z-index: -2;
  overflow: hidden;

  top: 158px;
  left: 150px;
  height: 210px;
}

.top-players-container-2{
  height: 100%;
  width: 100%;
  overflow: hidden;

  margin-top: 44px;
}

.top-players-container{
  width: 100%;
  height: 99%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.top-player{
  z-index: 1;  /* To up under "Play div-container" */
  color: #563208;
  overflow: hidden;
  position: relative;
  cursor: default;
  margin-bottom: 8px;
  border-bottom: solid 1px #BD8E58;

  font-size: 12px;
  font-weight: bold;
  width: 183px;
  height: 44px;
}

.top-player-place{
  position: absolute;

  top: 12px;
  right: 158px;
}

.rating-table-player-img{
  position: absolute;
  border: 1px solid #FFFFFF;

  top: 6px;
  left: 41px;
  width: 29px;
  min-width: 29px;
  height: 29px;
  max-height: 29px;
}

.top-player-info{
  position: absolute;
  left: 79px;
  top: 4px;
}

.top-player-text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  /* 360px */
  width: 96px;
}


/* ===== Game window ===== */
.game-window{
  display:none;
}

.output{
  overflow-y: scroll;

  margin-top: 8px;
  margin-bottom: 6px;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;

  min-height: 269px;
  max-height: 269px;
}

.see-solution{
  display:none;
}


.players-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 28px;
}

.left-pl-back-img{
  position: absolute;
  z-index: -1;

  /* 360px */
  top: -26px;
  left: -6px;
  width: 161px;
  height: 119px;
}

.pl-shadow{
  position: absolute;

  /* 360px */
  border: 2px solid white;
  border-radius: 8px;
  top: 26px;
  width: 40px;
  height: 40px;
}

.left-pl-shadow{
  /* 360px */
  left: 12px;
}

.right-pl-shadow{
  /* 360px */
  left: 307px;
}

.right-pl-back-img{
  position: absolute;
  z-index: -1;

  /* 360px */
  top: -32px;
  left: 207px;
  width: 158px;
  height: 115px;
}

.side-game-info{
  min-width: 132px;
  max-width: 132px;
}

.side-game-info-left{
  margin-left: 4px;
}

.side-game-info-right{
  float:right;

  margin-right: 15px;
}

.personal-resume-img{
  position: absolute;
  transform: rotate(-4deg);
  z-index: -1;

  top: 58px;
  left: 46px;
  min-width:50px;
  max-width:50px;
  min-height:50px;
  max-height:50px;
}

.player-img{
  min-width:36px;
  max-width:36px;
  min-height:36px;
  max-height:36px;
}

.player-name{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;

  /* 360px */
  font-size: 12px;
  max-height: 12px;
  width: 96px;
}

.player-score{
  font-size: 12px;
}

.surrender-btn{
  display:none;
  max-height:28px;
}

.player-surrender{
  position: absolute;

  top: 12px;
  left: 152px;
}

.player-surrender-img{
  max-width: 54px;
  max-height: 42px;
  min-width: 54px;
  min-height: 42px;
}

.player-active{
  /*background-color: #09d010;*/
}

.game-margin-top{
  margin-top: 7px;
}

.time-progress-img{
  position: absolute;
  z-index: -1;

  /* 360px */
  top: 10px;
  left: 8px;
  width: 344px;
  height: 10px;
}

.time-progress{
  background-color: white;
  border-radius: 6px;

  /* 360px */
  width: 318px;
  height: 4px;
  margin-top: 13px;
  margin-left: 11px;
}

.rewind-pages{
  margin-bottom: 4px;
}

/* ===== Game sub-window ===== */
.subwindow-background{
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  position: fixed;
  display: none;
  z-index: 999;

  /* 360px */
  top: 1px;
  left: 2px;
  width: 356px;
  min-height: 566px;
}

.subwindow-container{
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  color: #602B0D;

  top: 172px;
  left: -21px;
  width: 402px;
  height: 420px;

  /* 360px */
  font-size: 20px;
  font-weight: bold;
}

.subwindow-close{
  background-image: url(../img/components/close_btn.png);
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;

  /* 360px */
  left: 324px;
  top: 28px;
  width: 56px;
  height: 56px;
}

.subwindow-title{
  position: absolute;
  transform: translate(-50%, -100%);
  color: black;
  font-size: 24px;

  /* 360px */
  left: 50%;
  top: 24%;
}

.subwindow-points{
  position: absolute;
  transform: translate(-50%, -100%);

  /* 360px */
  left: 50%;
}

.subwindow-btn-next{
  position: absolute;
  background-size: cover;
  transform: translate(-50%, -100%);
  cursor: pointer;

  /* 360px */
  top: 59%;
  left: 50%;
  width: 96px;
  height: 32px;
}

.subwindow-btn-next-caption{
  position: absolute;
  transform: translate(-50%, -100%);
  left: 50%;
  top: 90%;
  color: #FFFFFF;
  font-size: 16px;
}


/* ===== Game warning sub-window ===== */
.warnwindow-container{
  position: absolute;
  background-size: cover;
  color: #D2673D;
  top: -1px;

  /* 360px */
  font-size: 20px;
  width: 340px;
  height: 422px;
}

.warnwindow-yes{
  position: absolute;

  /* 360px */
  left: 37px;
  top: 366px;
  width: 50px;
  height: 51px;
}

.warnwindow-no{
  position: absolute;

  /* 360px */
  left: 246px;
  top: 366px;
  width: 50px;
  height: 51px;
}

.warnwindow-text{
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  transform: translate(-50%, -100%);
  justify-content: center;
  align-items: center;
  text-align: center;

  /* 360px */
  top: 324px;
  left: 50%;
  width: 180px;
  height: 114px;
}

/* Bottom panel */
.bottom-panel{
  position: absolute;
  /* 360px */
  top: 374px;
  height: 154px;
  font-size: 13px;
}

.bottom-panel-buttons{
  position: absolute;
  /* 360px */
  top: 532px;
}

.bottom-panel-button-unselected{
  background-color: #895B3A;
  color: #FFFBE9;
  border-color: #C7A578;
}

.bottom-panel-button-selected{
  background-color: #FFFBE9;
  color: #000000;
  border-color: #949494;
}

/* ===== Chat ===== */
.chat-window{

}

.chat-output-scrolling{
  overflow:auto;
  margin-bottom: 2px;

  /* 360px */
  height: 111px;
  max-width:796px;
}

.chat-msg{
  word-break:break-all;
  display:block;
}

.chat-msg-input{
  min-width:300px;
}

.chat-msg-input-icon{
  background-color: #C7A578;
  color: #895B3A;
  font-weight: bold;
  font-size: 18px;
}

/* Notepad */
.notepad-area{
  height: 154px;
}

/* Status */
.table-window{
  overflow: auto;
  max-height: 154px;
  max-width: 340px;
}

.status-table{
  table-layout: fixed;
  width: 342px;
}

.status-table select{
  background-color: inherit;
}

.status-td{
  overflow: hidden;
  display: block;
}

/* Feedback */
.feedback-area{
  height: 118px;
}


/* ===== Loading window ===== */
.loading {
  position:absolute;
  left:50%;
  top:50%;
  z-index:1;
  width:150px;
  height:150px;
  margin:-75px 0 0 -75px;
  border:16px solid #f3f3f3;
  border-radius:50%;
  border-top:16px solid #3498db;
  -webkit-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* ===== Disconnection pop-up ===== */
.disconnection-popup{
  width:100%;
  min-height:100%;
  background-color:rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0px;
  left:0px;
  display:none;
  z-index:999;
}

.disconnection-popup .disconnection-popup-content{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -100%);
  width:280px;
  height:90px;
  padding:15px;
  background-color:#f6f7f9;
  border:1px solid #dddfe2;
  box-shadow:0px 0px 200px #000;
}

.reconnect-btn{
  display:block;
  margin-left:auto;
  margin-right:auto;
}


/* ===== Edu video pop-up ===== */
.eduVideoWindow{
  width:100%;
  min-height:100%;
  background-color:rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0px;
  left:0px;
  display:none;
  z-index:999;
}

.eduVideoWindow-content{
  position:absolute;
  transform:translate(-50%, -50%);
  box-shadow:0px 0px 200px #000;

  top: 47%;
  left: 50%;
  width: 360px;
  height: 570px;
}

.closeEduVideoWindowBtn{
  display:block;
  margin-left:auto;
  margin-right:auto;
}


/* ===== Docs href ===== */
.docs-content{
  position: absolute;
  top: 584px;
  text-align: center;
  font-size: 10px;
}

.docs-content-ref{
  color: #FFFBE9;
}
