<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Logic Edu</title>

  <link rel="stylesheet" type="text/css" href="/style/external/bootstrap.min.css?v=2">
  <link rel="stylesheet" type="text/css" href="/style/style.css?v=3">
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable Javascript and reload this page!</h2></noscript>
<div id="main-container" class="container-fluid">
  <div id="vk_api_transport"></div>
  <span id="social-network-type" th:text="${socialNetworkType}" class="always-hidden"></span>
  <span id="social-network-app-id" th:text="${socialNetworkAppId}" class="always-hidden"></span>

  <div class="background-container">
    <div class="background">
      <img class="background-img" src="/img/components/lobby_background.png">

      <!-- Lobby window -->
      <div id="lobby-window" class="lobby-window background-left">

        <div class="lobby-caption">РЕЗЮМЕ</div>

        <img class="main-user-info-container-img" src="/img/components/user_info.png">

        <!-- User Info -->
        <div class="main-user-info margin-left lobby-data-margin-bottom">
          <div class="user-info">

            <div>
              <img class="user-resume-rating-img" src="/img/components/player_info_rating.png">
              <div id="user-resume-rating-caption" class="user-resume-rating-caption"></div>
            </div>

            <img id="userImg" class="personal-resume-img" src="#">
            <div id="user-info-data" class="user-info-data" data-toggle="tooltip" data-placement="bottom" data-container="body" title="">
              <div class="user-info-name">
                <span id="userName"></span>
              </div>
              <span id="userScore"></span>
            </div>
          </div>
        </div>

        <!-- Rating table -->
        <div id="top-players-container-main" class="top-players-container-1">
          <!-- Rating table caption -->
          <div class="top-players-rating">
            <img class="top-players-caption-img" src="/img/components/top_players_caption.png">
            <span id="top-players-rating" class="top-players-rating-caption-text">Play</span>
          </div>

          <!-- Rating table -->
          <div class="top-players-container-2">
            <div id="top-players-container" class="top-players-container">

            </div>
          </div>
        </div>

        <!-- Play buttons -->
        <div id="play-mission" class="btn-play play-mission-btn">
          <img class="btn-play-img" src="/img/components/play_button.png">
          <div>
            <div id="play-mission-caption" class="play-btn-caption play-btn-caption-2-lines-first"></div>
            <img id="play-loader" class="play-loader" src="https://thumbs.gfycat.com/EmptyDeliriousBluefish-size_restricted.gif" alt="Smiley face">
          </div>
        </div>

        <div id="play-quests-btn" class="btn-play play-quests-btn" data-toggle="tooltip" data-placement="bottom" data-container="body" data-selector="#play-quests-btn" title="Доступно с 7 уровня">
          <img class="btn-play-img" src="/img/components/return_button.png">
          <div class="play-btn-caption play-btn-caption-2-lines-first">Квесты</div>
          <div class="play-btn-caption play-btn-caption-min play-quests-btn-caption-min">Доступно с 1 уровня</div>
        </div>

        <div id="play-quests-container" class="play-quests-container">
          <div id="hide-play-quests-btn" class="btn-play play-quests-btn">
            <img class="btn-play-img" src="/img/components/return_button.png">
            <div class="play-btn-caption play-btn-caption-1-line">Вернуться</div>
          </div>

          <div id="play-1-quest-btn" class="btn-play play-1-quest-btn">
            <img class="btn-play-img" src="/img/components/play_button.png">
            <div class="play-btn-caption play-btn-caption-2-lines-first">Разнести письма</div>
            <div class="play-btn-caption play-btn-caption-min play-quests-btn-caption-min">Доступно с 1 уровня</div>
          </div>

          <div id="play-2-quest-btn" class="btn-play play-2-quest-btn">
            <img class="btn-play-img" src="/img/components/play_button.png">
            <div class="play-btn-caption play-btn-caption-2-lines-first">Найти дом</div>
            <div class="play-btn-caption play-btn-caption-min play-quests-btn-caption-min">Доступно с 5 уровня</div>
          </div>

          <div id="play-medium-quest-btn" class="btn-play play-3-quest-btn">
            <img class="btn-play-img" src="/img/components/play_button.png">
            <div class="play-btn-caption play-btn-caption-2-lines-first">Отыскать котика</div>
            <div class="play-btn-caption play-btn-caption-min play-quests-btn-caption-min">Доступно с 10 уровня</div>
          </div>

          <div id="play-hardest-quest-btn" class="btn-play play-4-quest-btn">
            <img class="btn-play-img" src="/img/components/play_button.png">
            <div class="play-btn-caption play-btn-caption-2-lines-first">Соревнования</div>
            <div class="play-btn-caption play-btn-caption-min play-quests-btn-caption-min">Доступно с 30 уровня</div>
          </div>
        </div>

      </div>

      <!--          <div>-->
      <!--            <button id="playBrief1Game" type="button" class="btn-play btn btn-default btn-primary">Короткая игра 1</button>-->
      <!--          </div>-->

      <!--          <div>-->
      <!--            <button id="playSingleGame1" type="button" class="btn-play btn btn-default btn-primary">Одиночная игра 1</button>-->
      <!--          </div>-->

      <!--          <div>-->
      <!--            <button id="playSingleGame2" type="button" class="btn-play btn btn-default btn-primary"></button>-->
      <!--          </div>-->

      <!-- Game window -->
      <div id="game-window" class="game-window background-left">

        <div>
          <img class="time-progress-img" src="/img/components/timer_progress.png">
          <div id="time-progress" class="time-progress"></div>
        </div>

        <div id="output" class="output background-colored rounded-borders background-right">
        </div>

        <div id="rewindPages" class="rewind-pages btn-group btn-group-sm" role="group">
          <button id="firstPage" type="button" class="btn btn-default">&lt;&lt;</button>
          <button id="prevPage" type="button" class="btn btn-default">&lt;</button>
          <button id="pageNumber" type="button" class="btn btn-default">1 Страница</button>
          <button id="nextPage" type="button" class="btn btn-default">&gt;</button>
          <button id="lastPage" type="button" class="btn btn-default">&gt;&gt;</button>
        </div>

        <div class="actions">

          <!-- Do action -->
<!--          <div class="btn-group">-->
<!--            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--              Сделать действие-->
<!--            </button>-->
<!--            <div id="hooks" class="dropdown-menu">-->
<!--            </div>-->
<!--          </div>-->

          <button id="next-quest" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Новый опрос
          </button>

          <!-- Give an answer -->
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>Ответить</span>
              <span class="caret"></span>
            </button>

            <ul id="answers" class="dropdown-menu background-colored">
              <!-- Dynamic content here -->
            </ul>
          </div>

          <button id="closeGame" type="button" class="btn-close-game btn btn-success">Закрыть</button>

        </div>

        <!-- Surrender -->
<!--        <div id="player-surrender" class="player-surrender">-->
<!--          <img id="player-surrender-img" class="player-surrender-img" src="#" alt="White flag">-->
<!--        </div>-->

<!--        <div class="players-container">-->
<!--          &lt;!&ndash; Left player &ndash;&gt;-->
<!--          <img class="left-pl-back-img" src="/img/components/player_left.png">-->
<!--          <div id="left-pl-info" class="side-game-info user-info side-game-info-left" data-toggle="tooltip" data-placement="bottom" title="">-->
<!--            <img id="left-pl-img" class="img-rounded player-img" src="#">-->
<!--            <div id = "left-pl-shadow" class="pl-shadow left-pl-shadow"></div>-->

<!--            <div class="user-info-data info-margin-left" data-toggle="tooltip" data-placement="bottom" title="">-->
<!--              <div id="left-pl-name" class="player-name"></div>-->
<!--              <span id="left-pl-score" class="player-score"></span>-->
<!--            </div>-->
<!--          </div>-->

<!--          &lt;!&ndash; Right player &ndash;&gt;-->
<!--          <img class="right-pl-back-img" src="/img/components/player_right.png">-->
<!--          <div id="right-pl-info" class="side-game-info user-info side-game-info-right" data-toggle="tooltip" data-placement="bottom" title="">-->
<!--            <div class="user-info-data" data-toggle="tooltip" data-placement="bottom" title="">-->
<!--              <div id="right-pl-name" class="player-name"></div>-->
<!--              <span id="right-pl-score" class="player-score"></span>-->
<!--            </div>-->

<!--            <img id="right-pl-img" class="img-rounded player-img" src="#">-->
<!--            <div id="right-pl-shadow" class="pl-shadow right-pl-shadow"></div>-->
<!--          </div>-->
<!--        </div>-->

        <!-- Game sub-window -->
        <div id="subwindow-background" class="subwindow-background">
          <div id="subwindow-container" class="subwindow-container">
            <div id="subwindow-title" class="subwindow-title"></div>
            <div id="subwindow-close" class="subwindow-close"></div>

            <div id="subwindow-points" class="subwindow-points"></div>
            <div id="subwindow-btn-next" class="subwindow-btn-next">
              <div class="subwindow-btn-next-caption">ОК</div>
            </div>
          </div>
        </div>

        <!-- Game warn-window -->
        <div id="warnwindow-background" class="subwindow-background">
          <div id="warnwindow-container" class="warnwindow-container">
            <div id="warnwindow-yes" class="warnwindow-yes"></div>
            <div id="warnwindow-no" class="warnwindow-no"></div>

            <div id="warnwindow-text" class="warnwindow-text"></div>
          </div>
        </div>

      </div>

      <!-- Bottom panel -->
      <div class="bottom-panel background-left background-right">
        <!-- Chat -->
        <div class="chat-window bottom-panel-pane">
          <div class="">
            <div id="chat-output-scrolling" class="chat-output-scrolling background-colored rounded-borders">
              <table id="conversation" class="table table-sm table-condensed no-margin-bottom">
                <tbody id="greetings">
                </tbody>
              </table>
            </div>
          </div>
          <div class="">
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" id="chat-msg-input" class="form-control chat-msg-input background-colored" maxlength="200" autocomplete="off">
                  <div id="send" class="chat-msg-input-icon btn btn-default input-group-addon">
                    &gt;
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Tables -->
        <div id="helpTables" class="table-window bottom-panel-pane">

        </div>

        <!-- Notepad -->
        <div class="notepad-window bottom-panel-pane">
          <textarea class="notepad-area background-colored rounded-borders" name="Text1" cols="40" rows="5" placeholder="Используйте для заметок"></textarea>
        </div>

        <!-- Feedback -->
        <div class="feedback-window bottom-panel-pane">
          <textarea id="feedbackText" class="feedback-area background-colored rounded-borders" name="Text1" cols="40" rows="5"
                    placeholder="Здесь Вы можете оставить отзыв, сообщить об ошибке или поделиться идеями. Текущая игра прикрепится к вашему сообщению автоматически. Если отзыв не по текущей игре, - пожалуйста, укажите это в комментарии."></textarea>
          <button id="sendFeedback" type="button" class="btn btn-sm btn-primary">Отправить отзыв</button>
        </div>

      </div>

      <!-- Buttons -->
      <div class="bottom-panel-buttons background-left btn-group btn-group-sm" role="group">
        <button id="turnChat" type="button" class="btn btn-default bottom-panel-button">Чат</button>
        <button id="turnProgress" type="button" class="btn btn-default bottom-panel-button">Статус</button>
        <button id="turnNotepad" type="button" class="btn btn-default bottom-panel-button">Блокнот</button>
        <button id="turnFeedback" type="button" class="btn btn-default bottom-panel-button">Написать отзыв</button>
      </div>

      <!-- Docs -->
      <div class="docs-content">
        <a id="privacy-policy" class="docs-content-ref" target="_blank" href="/docs/privacy-policy.html">Privacy Policy</a>
        <span class="blue-color"> </span>
        <a id="terms-of-service" class="docs-content-ref" target="_blank" href="/docs/terms-of-service.html">Terms of Service</a>
        <span class="blue-color"> </span>
        <a id="authors" class="docs-content-ref" target="_blank" href="/docs/authors.html">Authors & Feedback</a>
      </div>

    </div>
  </div>
</div>

<!-- Loading window -->
<div id="loading-window">
  <div class="loading"></div>
</div>

<!-- Disconnection window -->
<div class="disconnection-popup" id="discnctPopup">
  <div class="disconnection-popup-content rounded-borders">
    <p>
      Sorry, the connection is losszzzzzsst...
    </p>
    <button id="reconnect" class="btn btn-primary reconnect-btn" type="submit">Refresh the page</button>
  </div>
</div>

<script src="https://unpkg.com/@vkontakte/vk-bridge/dist/browser.min.js"></script>

<script defer src="/js/external/jquery-3.2.1.slim.min.js?v=2"></script>
<script defer src="/js/external/popper.min.js"></script>
<script defer src="/js/external/bootstrap.min.js?v=2"></script>

<script defer src="/js/external/sockjs-1.1.2.min.js"></script>
<script defer src="/js/external/stomp-2.3.4.min.js"></script>
<script defer src="/js/external/l100n.js"></script>

<script defer src="/localization/tips.js"></script>
<script defer src="/localization/game-rules.js"></script>
<script defer src="/localization/main-ui.js"></script>
<script defer src="/js/l10n-wrapper.js"></script>
<script defer src="/js/screen-params.js"></script>
<script defer src="/js/game.js?v=3"></script>
<script defer src="/js/app.js?v=4"></script>
</body>
</html>